<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hasil Evaluasi</title>
    <link href="/styles/hasil.css" rel="stylesheet" />
    
</head>
<body>
    
    <div class="hasil">
        <h1><strong>Hasil Evaluasi</strong></h1>
        <div class="evaluasi">
            <div class="container text-left">
               
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Seberapa puas saudara untuk sarana & prasarana di Prodi Sistem Informasi</label>
                            <select id="pertanyaan" class="form-select">
                                <option selected>Open this select menu</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Rating proses PBM pada prodi Sistem Informasi </label>
                            <select id="pertanyaan" class="form-select">
                                <option selected>Open this select menu</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Seberapa puas saudara dalam layanan di Prodi Sistem Informasi
                            </label>
                            <select id="pertanyaan" class="form-select">
                                <option selected>Open this select menu</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Saran</label>
                            <div id="pertanyaan">********</div>
                        </div>
                    </div>
                </div>
                <button class="btn-primary" type="submit">Kembali</button>
            </div>
            
        </div>
    </div>
    
</body>



</html>
