<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Page Title</title>
    <link href="/styles/feedback.css" rel="stylesheet" />
    
</head>
<body>
    <div class="nav">
        <ul class="menu">
            <li><a href="#"><img src="/images/unand.jpeg" alt="Logo"></a></li>
            <li><a href="#" >Dashboard</a></li>
            <li><a href="#" class="active">Umpan Balik</a></li>
            <li><a href="#">Notifikasi</a></li>
            <li><a href="/admin/profileAdmin" >Profile</a></li>
            <li><a href="/login" style="margin-top: 70px;">Log Out</a></li>
        </ul>
    </div>
   
    <div class="container">
      
  </div>


   
    </div>
  
    
    <script src="./node_modules/preline/dist/preline.js"></script>
</body>



</html>
