<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Evaluasi</title>
    <link href="/styles/hasil.css" rel="stylesheet" />
    <link href="/styles/dashboard.css" rel="stylesheet" />
</head>

<body>

    <div class="nav">
        <ul class="menu">
            <li><a href="#"><img src="/images/unand.jpeg" alt="Logo"></a></li>
            <li><a href="/mahasiswa/dashboard" >Dashboard</a></li>
            <li><a href="/mahasiswa/formEvaluasi" class="active">Evaluasi</a></li>
            <li><a href="/mahasiswa/feedback">Umpan Balik</a></li>
            <li><a href="#">Notifikasi</a></li>
            <li><a href="/mahasiswa/profil">Profile</a></li>
            <li><a href="/login" style="margin-top: 70px;">Log Out</a></li>
        </ul>
    </div>

    <div class="container">
        <h1>Form Evaluasi</h1>
        <div class="container-fluid text-left">
            <form action="/mahasiswa/formEvaluasi" method="post" enctype="multipart/form-data" >
                <% if (evaluasiJawaban && evaluasiJawaban.length> 0) { %>
                    <% evaluasiJawaban.forEach(function(evaluasi) { %>
                        <input type="text" name="questions[]" value=" <%= evaluasi.id %>" id="pertanyaan" style="display: none;">
                        <div class="mb-3" style="margin-top: 20px;">
                            <label for="pertanyaan" class="form-label">
                                <%= evaluasi.pertanyaan %>
                            </label><br />
                            <input type="text" name="answer[]" id="pertanyaan" required>

                        </div>

                        <% }); %>
                            <% } else { %>
                                <div class="mb-3">
                                    <p>Tidak ada data evaluasi.</p>
                                </div>
                                <% } %>

                                    <div class="mb-3" style="margin-top: 20px;">
                                        <label for="pertanyaan" class="form-label">
                                            Bukti
                                        </label><br />
                                        <input type="file" name="file" id="pertanyaan" required>

                                    </div>


                                    <button class="btn-primary1" type="submit">Submit</button>
            </form>


        </div>


    </div>


</body>

</html>