<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hasil Evaluasi</title>
    <link href="/styles/hasil.css" rel="stylesheet" />
</head>
<body>

    
    <div class="hasil">
       
        <div class="evaluasi">
            <div class="container text-left">
                <h1><strong>Hasil Evaluasi</strong></h1>
                <% if (evaluasiJawaban && evaluasiJawaban.length > 0) { %>
                    <h2 style="font-size: 20px; margin-bottom: 50px;">Mahasiswa: <%= evaluasiJawaban[0].jawabanEvaluasi.mahasiswa.nama %> (NIM: <%= evaluasiJawaban[0].jawabanEvaluasi.mahasiswa.nim %>)</h2>
                    <% evaluasiJawaban.forEach(function(evaluasi) { %>
                        <div class="mb-3" style="margin-top: 20px;">
                            <label for="pertanyaan" class="form-label"><%= evaluasi.pertanyaan.pertanyaan %></label>
                            <div id="pertanyaan"><%= evaluasi.jawaban %></div>

                        </div>
                        
                    <% }); %>
                <% } 
                
                else { %>
                    <div class="mb-3">
                        <p>Tidak ada data evaluasi untuk mahasiswa ini.</p>
                    </div>
                <% } %>

                
            </div>
            <button class="btn-primary" onclick="window.location.href='/admin/dashboard'">Kembali</button>
        </div>
    </div>

</body>
</html>
