<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hasil Evaluasi</title>
    <link href="/styles/hasil.css" rel="stylesheet" />
    
</head>
<body>
    
    <div class="hasil">
        <h1><strong>Hasil Evaluasi</strong></h1>
        <div class="evaluasi">
            <div class="container text-left">
               
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Pertanyaan</label>
                            <div id="pertanyaan">Admin</div>
                        </div>
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Pertanyaan</label>
                            <div id="pertanyaan">admin@gmail.com</div>
                        </div>
                    </div>
                
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Pertanyaan</label>
                            <div id="pertanyaan">123456789</div>
                        </div>
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Pertanyaan</label>
                            <div id="pertanyaan">********</div>
                        </div>
                    </div>
                </div>
                <button class="btn-primary" type="submit">Kembali</button>
            </div>
            
        </div>
    </div>
    
</body>



</html>
