<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hasil Evaluasi</title>
    <link href="/styles/hasil.css" rel="stylesheet" />
    
</head>
<body>
    
    <div class="hasil">
        <h1><strong>Hasil Evaluasi</strong></h1>
        <div class="evaluasi">
            <div class="container text-left">
                <% if (evaluasiJawaban.length > 0) { %>
                    <% evaluasiJawaban.forEach(function(evaluasi) { %>
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label"><%= evaluasi.pertanyaan.pertanyaan %></label>
                            <div id="pertanyaan"><%= evaluasi.jawaban %></div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="mb-3">
                        <p>Tidak ada data evaluasi untuk mahasiswa ini.</p>
                    </div>
                <% } %>
            </div>
            <a href="/admin/dashboard" class="btn-primary">Kembali</a>
        </div>
    </div>
    
</body>



</html>
