<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hasil Evaluasi</title>
    <link href="/styles/hasil.css" rel="stylesheet" />
    
</head>
<body>
    
    <div class="hasil">
        <h1><strong>Hasil Evaluasi</strong></h1>
        <div class="evaluasi">
            <div class="container text-left">
               
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Seberapa puas saudara untuk sarana & prasarana di Prodi Sistem Informasi</label>
                            <div id="pertanyaan" >ccccc</div>
                        </div>
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Rating proses PBM pada prodi Sistem Informasi </label>
                            <div id="pertanyaan" >vvvvv</div>
                        </div>
                    </div>
                
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Seberapa puas saudara dalam layanan di Prodi Sistem Informasi
                            </label>
                            <div id="pertanyaan" >nnn</div>
                        </div>
                        <div class="mb-3">
                            <label for="pertanyaan" class="form-label">Saran</label>
                            <div id="pertanyaan">********</div>
                        </div>
                    </div>
                </div>
                <button href="/dashboard" class="btn-primary" type="submit">Kembali</button>
            </div>
            
        </div>
    </div>
    
</body>



</html>
