body {
    background-color: #F1F3FC;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #1A4D2E;
    width: 180px;
    padding: 10px;
    height: 98vh;
    float: left;
    position: fixed;
    z-index: 1000;
    top: 0;
    
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    list-style-type: none;
    margin-top: 30px;
    margin-left: 30px;
}

.nav a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 5px 0;
    margin-left: -10px;
}

.nav a.active {
    font-weight: bold;
}

.nav li img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 10px;
}


.card-body {
   
    margin-top: 10px;
    margin-left: 20px;

}

#evaluationChart{
    width: 35px;
}

.col {
    background-color: rgba(26, 77, 46, 0.4);
    
    margin-left: 300px;
    width: 70%;
    height: 250px;
    
}

 .delete-button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d81d16;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
 }


.btn.btn-lihat {
    text-align: center;
    margin-left: 5px;
    margin-top: 3px;
    background-color: #efb909;
    border-radius: 5px;
    color: #FFFF;
   
}

.btn-primary img {
   width: 20px;
}

.add .btn-primary {
    margin-left: 300px;
    margin-top: 10px;
    background-color: #1A4D2E;
    border-radius: 10px;
    color: #F1F3FC;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

.container {
    width: 72%;
    margin-left: 250px;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.btn:hover {
    background-color: #45a049;
}
.btn:active {
    background-color: #3e8e41;
    transform: translateY(2px);
}
